.cat-bed-1-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 3);
    background-image: url('images/pet-game/cat-bed-1-1.png');
        background-repeat: no-repeat;   /* prevents infinite tiling */
    background-position: center center;  /* centers the image */
    background-size: cover;         /* scales image to cover */
    z-index: 4;
}

.flooring-1 {
    width: calc(var(--unit-size) * 20);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/flooring-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.wallpaper-1 {
    width: calc(var(--unit-size) * 20);
    height: calc(var(--unit-size) * 7);
    background-image: url('images/pet-game/wallpaper-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.shelf-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/shelf-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.small-plant-1 {
    width: calc(var(--unit-size) * 2);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/small-plant-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 5;
}

.cat-food-bowl-1,
.cat-water-bowl-1 {
    width: calc(var(--unit-size) * 2);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/cat_food_bowl_1_empty.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.cat-food-bowl-1.full {
    width: calc(var(--unit-size) * 2);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/cat_food_bowl_1_full.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.cat-water-bowl-1 {
    width: calc(var(--unit-size) * 2);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/cat_water_bowl_1_empty.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.cat-water-bowl-1.full {
    width: calc(var(--unit-size) * 2);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/cat_water_bowl_1_full.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.medium-table-1 {
    width: calc(var(--unit-size) * 2);
    height: calc(var(--unit-size) * 3);
    background-image: url('images/pet-game/medium-table-1.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.window-1-m-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/window-1-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-1-s-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/window-1-s-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-1-xs-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 3);
    background-image: url('images/pet-game/window-1-xs-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-1-l-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/window-1-l-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-sill-m-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/window-sill-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.window-sill-l-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/window-sill-l-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-s-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 3);
    background-image: url('images/pet-game/drapes-1-s-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-xs-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/drapes-1-xs-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-m-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/drapes-1-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-l-s-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/drapes-1-l-s-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-l-m-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 3);
    background-image: url('images/pet-game/drapes-1-l-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-l-l-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/drapes-1-l-l-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.fridge-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/fridge-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

