.cat-1-1,
.cat-2-1 {
    background-image: url('images/pet-game/cat_1_sprite_sheet.png');
    background-size: calc(var(--pet-size) * 16) calc(var(--pet-size)*26); /* 16 number of columns in iamge, 25 number of rows*/
    background-position: 0 0;
}

.cat-1.pet-preview {
    margin-left: 9px;
    margin-bottom: 9px;
}

.cat-1.item-preview {
    margin-left: 20px;
    margin-bottom: 9px;
}

@keyframes cat-1-sits-idle {
    0% { background-position: 0 0; } /* 0 first column number 0 row number*/
    100% { background-position: calc(var(--pet-size) * -10) 0; } /* -10 last column number 0 row number*/
}

@keyframes cat-1-sits-idle-blinks {
    0% { background-position: 0 calc(var(--pet-size) * -1); } /* 0 first column number 0 row number*/
    100% { background-position: calc(var(--pet-size) * -10) calc(var(--pet-size) * -1); } /* -10 last column number 0 row number*/
}

@keyframes cat-1-sleeps {
    0% { background-position: 0 calc(var(--pet-size) * -2); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -2); }
}

@keyframes cat-1-dances {
    0% { background-position: 0 calc(var(--pet-size) * -3); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -3); }
}

@keyframes cat-1-talks {
    0% { background-position: 0 calc(var(--pet-size) * -4); }
    100% { background-position: calc(var(--pet-size) * -8) calc(var(--pet-size) * -4); }
}

@keyframes cat-1-excited {
    0% { background-position: 0 calc(var(--pet-size) * -5); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -5); }
}

@keyframes cat-1-lays-idle {
    0% { background-position: 0 calc(var(--pet-size) * -6); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -6); }
}

@keyframes cat-1-sits-idle-thinks {
    0% { background-position: 0 calc(var(--pet-size) * -7); }
    100% { background-position: calc(var(--pet-size) * -9) calc(var(--pet-size) * -7); }
}

@keyframes cat-1-cries {
    0% { background-position: 0 calc(var(--pet-size) * -8); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -8); }
}

@keyframes cat-1-in-box-1 {
    0% { background-position: 0 calc(var(--pet-size) * -9); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -9); }
}

@keyframes cat-1-in-box-2 {
    0% { background-position: 0 calc(var(--pet-size) * -10); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -10); }
}

@keyframes cat-1-in-box-3 {
    0% { background-position: 0 calc(var(--pet-size) * -11); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -11); }
}

@keyframes cat-1-surprised {
    0% { background-position: 0 calc(var(--pet-size) * -12); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -12); }
}

@keyframes cat-1-eats {
    0% { background-position: 0 calc(var(--pet-size) * -13); }
    100% { background-position: calc(var(--pet-size) * -15) calc(var(--pet-size) * -13); }
}

@keyframes cat-1-waits {
    0% { background-position: 0 calc(var(--pet-size) * -14); }
    100% { background-position: calc(var(--pet-size) * -6) calc(var(--pet-size) * -14); }
}

@keyframes cat-1-refuses {
    0% { background-position: 0 calc(var(--pet-size) * -15); }
    100% { background-position: calc(var(--pet-size) * -13) calc(var(--pet-size) * -15); }
}

@keyframes cat-1-angry {
    0% { background-position: 0 calc(var(--pet-size) * -16); }
    100% { background-position: calc(var(--pet-size) * -9) calc(var(--pet-size) * -16); }
}

@keyframes cat-1-happy {
    0% { background-position: 0 calc(var(--pet-size) * -17); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -17); }
}

@keyframes cat-1-angry-2 {
    0% { background-position: 0 calc(var(--pet-size) * -18); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -18); }
}

@keyframes cat-1-licks-paw {
    0% { background-position: 0 calc(var(--pet-size) * -19); }
    100% { background-position: calc(var(--pet-size) * -11) calc(var(--pet-size) * -19); }
}

@keyframes cat-1-medicine {
    0% { background-position: 0 calc(var(--pet-size) * -20); }
    100% { background-position: calc(var(--pet-size) * -5) calc(var(--pet-size) * -20); }
} 

@keyframes cat-1-sick {
    0% { background-position: 0 calc(var(--pet-size) * -21); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -21); }
}

@keyframes cat-1-walks-upwards {
    0% { background-position: 0 calc(var(--pet-size) * -22); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -22); }
}

@keyframes cat-1-walks-downwards {
    0% { background-position: 0 calc(var(--pet-size) * -23); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -23); }
} 

@keyframes cat-1-walks-sideways {
    0% { background-position: 0 calc(var(--pet-size) * -24); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -24); }
}

@keyframes cat-1-stands-idle {
    0% { background-position: 0 calc(var(--pet-size) * -25); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -25); }
}

@keyframes cat-2-sits-idle {
    0% { background-position: 0 0; } /* 0 first column number 0 row number*/
    100% { background-position: calc(var(--pet-size) * -10) 0; } /* -10 last column number 0 row number*/
}

@keyframes cat-2-sits-idle-blinks {
    0% { background-position: 0 calc(var(--pet-size) * -1); } /* 0 first column number 0 row number*/
    100% { background-position: calc(var(--pet-size) * -10) calc(var(--pet-size) * -1); } /* -10 last column number 0 row number*/
}

@keyframes cat-2-sleeps {
    0% { background-position: 0 calc(var(--pet-size) * -2); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -2); }
}

@keyframes cat-2-dances {
    0% { background-position: 0 calc(var(--pet-size) * -3); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -3); }
}

@keyframes cat-2-talks {
    0% { background-position: 0 calc(var(--pet-size) * -4); }
    100% { background-position: calc(var(--pet-size) * -8) calc(var(--pet-size) * -4); }
}

@keyframes cat-2-excited {
    0% { background-position: 0 calc(var(--pet-size) * -5); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -5); }
}

@keyframes cat-2-lays-idle {
    0% { background-position: 0 calc(var(--pet-size) * -6); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -6); }
}

@keyframes cat-2-sits-idle-thinks {
    0% { background-position: 0 calc(var(--pet-size) * -7); }
    100% { background-position: calc(var(--pet-size) * -9) calc(var(--pet-size) * -7); }
}

@keyframes cat-2-cries {
    0% { background-position: 0 calc(var(--pet-size) * -8); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -8); }
}

@keyframes cat-2-in-box-1 {
    0% { background-position: 0 calc(var(--pet-size) * -9); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -9); }
}

@keyframes cat-2-in-box-2 {
    0% { background-position: 0 calc(var(--pet-size) * -10); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -10); }
}

@keyframes cat-2-in-box-3 {
    0% { background-position: 0 calc(var(--pet-size) * -11); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -11); }
}

@keyframes cat-2-surprised {
    0% { background-position: 0 calc(var(--pet-size) * -12); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -12); }
}

@keyframes cat-2-eats {
    0% { background-position: 0 calc(var(--pet-size) * -13); }
    100% { background-position: calc(var(--pet-size) * -15) calc(var(--pet-size) * -13); }
}

@keyframes cat-2-waits {
    0% { background-position: 0 calc(var(--pet-size) * -14); }
    100% { background-position: calc(var(--pet-size) * -6) calc(var(--pet-size) * -14); }
}

@keyframes cat-2-refuses {
    0% { background-position: 0 calc(var(--pet-size) * -15); }
    100% { background-position: calc(var(--pet-size) * -13) calc(var(--pet-size) * -15); }
}

@keyframes cat-2-angry {
    0% { background-position: 0 calc(var(--pet-size) * -16); }
    100% { background-position: calc(var(--pet-size) * -9) calc(var(--pet-size) * -16); }
}

@keyframes cat-2-happy {
    0% { background-position: 0 calc(var(--pet-size) * -17); }
    100% { background-position: calc(var(--pet-size) * -12) calc(var(--pet-size) * -17); }
}

@keyframes cat-2-angry-2 {
    0% { background-position: 0 calc(var(--pet-size) * -18); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -18); }
}

@keyframes cat-2-licks-paw {
    0% { background-position: 0 calc(var(--pet-size) * -19); }
    100% { background-position: calc(var(--pet-size) * -11) calc(var(--pet-size) * -19); }
}

@keyframes cat-2-medicine {
    0% { background-position: 0 calc(var(--pet-size) * -20); }
    100% { background-position: calc(var(--pet-size) * -5) calc(var(--pet-size) * -20); }
} 

@keyframes cat-2-sick {
    0% { background-position: 0 calc(var(--pet-size) * -21); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -21); }
}

@keyframes cat-2-walks-upwards {
    0% { background-position: 0 calc(var(--pet-size) * -22); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -22); }
}

@keyframes cat-2-walks-downwards {
    0% { background-position: 0 calc(var(--pet-size) * -23); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -23); }
} 

@keyframes cat-2-walks-sideways {
    0% { background-position: 0 calc(var(--pet-size) * -24); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -24); }
}

@keyframes cat-2-stands-idle {
    0% { background-position: 0 calc(var(--pet-size) * -25); }
    100% { background-position: calc(var(--pet-size) * -4) calc(var(--pet-size) * -25); }
}