.previous-equation {
  margin-bottom: 0px;
  font-size: 3rem;
  overflow: hidden;
  white-space: nowrap;
}

#invisibleRow {
  display: block !important;
}

.equation,
.equation_2 {
  font-size: 4rem;
}

.equation_2 {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

#content-container {
  padding: 0 5px;
}

.equation {
  padding-left: 1.5vw;
}

#answer-field-outer {
  padding-left: 1.5vw;
}

textarea {
  height: 5rem;
  font-size: 4rem;
  padding-top: 0px !important;
}

textarea {
  width: 6.5ch;
}

#remainder-field {
  display: none;
}

#fireworks-div {
  position: absolute;
  top: -65%;
  right: 0;
  width: 250px;
}

.reset-button-div {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.stop-button-div {
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

@media (max-width: 1400px) {
  .question-submit-button {
    width: 18vw;
  }

  .summary-button {
    width: 18vw;
  }
}

@media (max-width: 1200px) {
  .question-submit-button {
    width: 20vw;
  }

  .summary-button {
    width: 20vw;
  }
}

@media (max-width: 1000px) {
	.previous-equation {
		font-size: 2rem;
	}

  .equation,
  .equation_2 {
		font-size: 3rem;
	}

  textarea {
		height: 3.5rem;
		font-size: 3rem;
	}

  .question-submit-button {
    width: 22vw;
  }

  .summary-button {
    width: 22vw;
  }
}

@media (max-width: 767px) {  
  #answer {
    padding-left: 0;
    padding-right: 0;
  }

  .equation, .equation_2 {
      font-size: 2.75rem;
  }

  textarea {
    height: 3.25rem;
    font-size: 2.75rem;
  }

  .question-submit-button {
    width: 24vw;
  }

  .summary-button {
    width: 24vw;
  }

  #fireworks-div {
    top: -45%;
    width: 200px;
  }
}

@media (max-width: 575px) {
  #fireworks-div {
    width: 200px;
    top: -65%;
  }

  .equation,
  .equation_2 {
    font-size: 1.75rem;
  }

  .equation_2 {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  textarea {
    height: 2.25rem;
    font-size: 1.75rem;
  }

  .previous-equation {
    font-size: 1.5rem;
  }

  .reset-button-div {
    display: flex;
    justify-content: flex-end;
  }

  .stop-button-div {
    display: flex;
    justify-content: flex-start;
  }

  .question-submit-button {
    width: 28vw;
    font-size: 1rem;
  }

  .summary-button {
    width: 28vw;
    font-size: 1rem;
  }

  .reset-button {
    height: 4.25rem;
    width: 4.25rem;
  }

  .stop-button {
    height: 4.25rem;
    width: 4.25rem;
  }

  td {
      font-size: 0.9rem !important;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .answer-input {
    height: auto;
  }
}