#stulpeliu-div-outer {
  width: 0 !important;
  flex: none !important;
}

#equation-and-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

#invisibleRow {
  display: block !important;
}

#content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation {
  flex-direction: column;
}

.earnings-holder {
  display: flex;
  align-items: center;
}

.earnings-holder .coin-amount {
  font-size: 1.25rem;
}

.earnings-holder .coin-icon img {
  width: 35px;
  height: 35px;
}

.additional-final-message-holder {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
  padding: 5px 0 0 0;
  text-transform: uppercase;
}

.week-chl-points {
  color: #bf9b30;
  font-weight: 700;
}

.equation,
.equation_2,
#summary-table-frequent-mistakes,
.field-for-final-message-inner {
  font-size: 3.5rem;
}

#frequent-mistakes-container {
  min-width: 400px;
  min-height: 90px;
  width: 60%;
}

.equation_2 {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

#fireworks-div {
  position: absolute;
  top: -65%;
  right: 0;
  width: 250px;
}

.reset-button-div {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.stop-button-div {
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

.table-container {
  display: flex;
  height: 80%;
}

#mistakes-summary-math,
.summary-table-frequent-mistakes-outer-div {
    height: 100%;
}

#summary-table-outer-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RASYBA START */

#field-for-text {
  height: 100%;
  background: transparent !important;
  border: none !important;
  overflow: visible !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center !important;
}

#field-for-final-message {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#final-message-div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* RASYBA END */

@media (max-width: 1400px) {
    .equation,
    .equation_2,
    #summary-table-frequent-mistakes,
    .field-for-final-message-inner {
        font-size: 3rem;
    }

    #frequent-mistakes-container {
			width: 60%;
		}
}

@media (max-width: 1200px) {
    #frequent-mistakes-container {
			width: 75%;
		}
}

@media (max-width: 1000px) {
    .equation,
    .equation_2,
    #summary-table-frequent-mistakes,
    .field-for-final-message-inner {
        font-size: 2.5rem;
    }

    .earnings-holder .coin-amount {
      font-size: 1.15rem;
    }

    .additional-final-message-holder {
      font-size: 1.35rem;
    }
}

	@media (max-width: 992px) {
		#frequent-mistakes-container {
			width: 95%;
			min-width: 300px;
			min-height: 80px;
		}
	}

@media (max-width: 767px) {
  .equation_2 {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #fireworks-div {
    top: -45%;
    width: 200px;
  }
}

@media (max-width: 575px) {
  #fireworks-div {
    width: 200px;
    top: -65%;
  }

  .equation,
  .equation_2,
  #summary-table-frequent-mistakes,
  .field-for-final-message-inner {
    font-size: 1.85rem;
  }

  .equation_2 {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }

  .earnings-holder .coin-amount {
    font-size: 1.05rem;
  }

  .earnings-holder .coin-icon img {
    width: 30px;
    height: 30px;
  }

  .additional-final-message-holder {
    font-size: 1.25rem;
  }

  .reset-button-div {
    display: flex;
    justify-content: flex-end;
  }

  .stop-button-div {
    display: flex;
    justify-content: flex-start;
  }

  .answer-field-div {
    padding-left: 5%;
    padding-right: 0;
  }

  .table-container {
    height: 90%;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: portrait)  {
    .equation, 
    .equation_2,
    #summary-table-frequent-mistakes,
    .field-for-final-message-inner {
        font-size: 3.5rem;
    }
}