#stulpeliu-div-outer {
  flex: 1 1 auto;
  display: flex;
  justify-content: start;
}

#stulpeliu-div-inner {
  width: 100%;
  display: flex;
  justify-content: start;
}

#equation-and-symbol {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
}