:root {
  --font-size-full: 3rem;
  --input-size-full: 3.5rem;
}

.stulpeliu-symbol-div {
  font-family: 'SFPro', sans-serif;
}

.equation,
.equation_2,
textarea {
  font-family: 'SFMono', sans-serif !important;
}

.upper-line {
  display: none !important;
}

.previous-equation {
  margin-bottom: 0;
  padding: 0;
}

#content-container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#body-row {
  padding: 0 !important;
  margin: 0 !important;
}

.pulse {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.pulse::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: rgba(182, 200, 103, 0);
  animation: pulse 600ms ease-in-out forwards;
  z-index: -1;
}

@keyframes pulse {
  0% {
    background: rgba(182, 200, 103, 0);
  }
  50% {
    background: rgba(182, 200, 103, 0.6);
  }
  100% {
    background: rgba(182, 200, 103, 0);
  }
}

#invisibleRow {
  display: block !important;
}

#equation-and-symbol {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#arithmetic-symbol {
  font-size: 5rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* Adjust other styles as needed */
}

.equation-and-answer {
  flex-direction: column;
}

.remainder-div-label {
  position: absolute;
  right: -2rem;
}

#stulpeliu-div-outer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

#stulpeliu-div-inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

#stulpeliu-div {
  position: relative;
  flex-direction: column;
}

.stulpeliu-symbol {
  height: var(--font-size-full);
  position: absolute;
  transform: translateY(30%);
}

.stulpeliu-symbol-div {
  position: absolute;
  font-size: var(--font-size-full);
  left: -1.5rem;
  bottom: -49%;
  font-weight: 300;
}

#dalinys .stulpeliu-symbol-div {
  position: absolute;
  left: -2.5rem;
  bottom: -40%;
  font-weight: 300;
}

.stulpeliu-field {
  position: relative;
  display: flex;
  justify-content: end;
}

.stulpeliu-field-underline {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.equation,
.equation_2 {
  width: auto;
  min-width: 10vw;
  font-size: var(--font-size-full);
  padding-bottom: 6px;
}

.equation,
#equation-div-kampu-holder {
  width: 100%;
  display: flex;
  justify-content: center;
}

#daliklis-outer {
  flex: 0 0 45%;
  max-width: 45%;
}

#dalinys-outer {
  flex: 0 0 55%;
  max-width: 55%;
  display: flex;
  justify-content: end;
}

.answer-field {
  padding-bottom: 10px;
}

.answer-field-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answer-field-div,
#stulp-div-ans-and-first {
  flex: 1 1 auto;
  min-height: 0;
}

.answer-input {
  height: var(--input-size-full);
  font-size: var(--font-size-full);
  padding-top: 0px !important;
}

#liek {
  font-size: 1.5rem;
}

.btn:disabled {
  background-color: #40c9a9;
  border-color: #40c9a9;
  color: black;
  filter: grayscale(25%);
}

.error {
  animation: shake 0.2s ease-in-out 0s 2 !important;
}

@keyframes shake {
          0% { transform: translateX(0); }
          25% { transform: translateX(0.5rem); }
          75% { transform: translateX(-0.5rem); }
          100% { transform: translateX(0); }
        }

#answer {
  text-align: start !important;
  padding: 0 2px 0 16px;
}

.stulpeliu-input {
  padding: 0 14px;
}

#stulp-div-ans-and-first {
  display: flex !important;
  align-items: start !important;
}

#answer-field-outer {
  flex: 1 0 45%;
  max-width: 45%;
  height: 100%;
}

textarea::placeholder {
  font-size: 1.25rem;
  text-align: center;
}

#answer-field {
  justify-content: start !important;
}

#division-stulp-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1 0 55%;
  max-width: 55%;
  height: 100%;
}

#division-stulp-2-outer {
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-left: 30px;
}

/* Only apply on devices that primarily use touch */
@media (pointer: coarse) and (hover: none) {
  #division-stulp-2-outer {
    padding-right: 12px; /* add extra padding for touch devices */
  }
}

.stulpeliu-input {
  text-align: start !important;
  height: var(--input-size-full);
  font-size: var(--font-size-full);
}

#remainder-field {
  display: none;
}

#dalinys {
  position: relative;
  padding-right: 25px;
}

#daliklis {
  padding-left: 15px;
  text-align: start;
}

#fireworks-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
}

.remainder-label {
  position: absolute;
  left: -4.5rem;
  top: 0.5rem;
  font-size: 2rem;
}

.reset-button-div {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.stulpeliu-input-outer-holder {
  display: flex;
  justify-content: end;
}

  input {
    padding: 0 10px 0 14px;
  }

@media (max-width: 1400px) {
  .upper-line {
    width: 56.7vw;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
  .upper-line {
    width: 67.5vw;
  }
}

@media (max-width: 767px) {
  .upper-line {
    width: 65vw;
  }

  #fireworks-div {
    top: 0;
    width: 200px;
  }
}

@media (max-width: 575px) {
  #fireworks-div {
    width: 200px;
    top: 0;
  }

  .upper-line {
    width: 100%;
  }

  .reset-button {
    height: 4.25rem;
    width: 4.25rem;
  }
  
  #dalinys,
  #daliklis,
  .stulpeliu-symbol-div,
  .stulpeliu-input,
  #answer {
    font-size: 2.5rem;
  }

  .stulpeliu-input {
    padding: 0 11px;
  }

  input {
		padding: 0 10px 0 10px;
	}

  #dalinys .stulpeliu-symbol-div {
    left: -1.5rem;
  }

  .stulpeliu-symbol-div {
    left: -0.75rem;
  }

  #daliklis-outer {
    flex: 0 0 40%;
    max-width: 40%;
  }

  #dalinys-outer {
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    justify-content: end;
  }

  #answer-field-outer {
    flex: 1 0 40%;
    max-width: 40%;
  }

  #division-stulp-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 1 0 60%;
    max-width: 60%;
  }

  .remainder-label {
    position: absolute;
    left: -3.5rem;
    top: 0.85rem;
    font-size: 1.5rem;
  }
}

@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  .answer-input {
    height: auto;
  }

  body {
    height: 80%;
    align-items: flex-center;
  }
}
