.content-list-link {
  color: inherit;
}

.content-list-link-subtitle {
  font-weight: 800;
}

.content-list-title {
  font-size: 1.75rem;
  color: #32ac93;
  font-weight: 700;
  padding-left: 10px;
}

p {
  text-align: justify;
  margin-bottom: 0;
  padding-bottom: 10px;
  margin-top: 6px;
}

ul {
  text-align: justify;
  margin-top: 0;
  padding-left: 25px;
}

.content-list {
  margin-top: 16px;
}

ol li {
  text-align: start !important;
  font-weight: bold;
}

.text-unit {
  margin-bottom: 10px;
}

.text-subunit {
  margin-bottom: 10px;
}

.text-title {
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  margin-bottom: 10px;
}

.text-subtitle {
  color: #32ac93; 
  font-weight: 700; 
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

.stressed-text-green {
  padding-top: 10px;
  margin-bottom: 5px;
  color: #32ac93;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
}

.stressed-text-black {
  font-weight: 700;
  font-size: 1.1rem;
}

.stressed-text-black-small {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 5px;
}

.stressed-text-black-uppercase {
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: 100%;
}

.underlined-text {
  text-decoration: underline;
  padding-top: 5px;
}

#pirma-antra-klases,
#trecia-ketvirta-klases {
  margin-bottom: 5px;
}

#susisiekite {
  margin-bottom: 5px;
  color: #32ac93;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}

#email {
  display: block;
  color: black;
  font-size: 1.25rem;
}

.colored-bullet li::before {
  content: "•";
}

.container-fluid {
  height: 100%;
}

.btn-primary {
  width: 5rem;
  height: 5rem;
  background-color: #40c9a9;
  border-color: #40c9a9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}



.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
  background-color: #32ac93;
  border-color: #32ac93;
  color: black;
}
.back-button-div {
  margin-top: 8px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.back-button-div-outer-div {
  padding: 0;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  color: #32ac93;
  font-size: 5.5rem;
}
@media (max-width: 1000px) {
  #sudedu-logo {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  #sudedu-logo {
      width: 55vw;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }

  #sudedu-logo {
      width: 70vw;
  }

  .back-button {
    height: 4.5rem;
    width: 4.5rem;
  }

  .material-symbols-rounded {
    font-size: 3rem;
    color: black;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: portrait)  {
  body {
    font-size: 1.75rem;
  }

  span {
    font-size: 1.75rem !important;
  }

  h2 {
    font-size: 3rem
  }

  h5 {
    font-size: 2.25rem;
  }

  h6 {
    font-size: 2rem;
  }

  .back-button {
    height: 6rem;
    width: 6rem;
  }

  .material-symbols-rounded {
    font-size: 4.5rem !important;
  }
}