html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #FFC074;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  font-family: 'Andika', sans-serif;
}

.container {
  height: 100%;
}

.kid-5,
.kid-6 {
  z-index: -1;
}

h1 {
  font-size: 8rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  color: #01937C;
  padding: 0;
  margin: 0;
}

.middle-div {
  width: 24vw;
}

.mode-choice-label {
  padding-right: 8px;
  padding-bottom: 15px;
  font-weight: bold;
}

.mode_choice_div {
  width: 100%;
  padding: 0;
}

#mode_choice {
  width: 100%;
}

.mode_choice_2_div {
  width: 100%;
  padding: 0;
}

#mode_choice_2 {
  width: 100%;
}

.mode_choice_3_div {
  width: 100%;
  padding: 0;
}

#mode_choice_3 {
  width: 100%;
}

.empty-placeholder-between-options {
  height: 3vh;
}

.empty-placeholder-before-submit {
  height: 3vh;
}

.number-choice-label-nuo {
  padding-right: 12px;
  font-weight: bold;
}

.number-choice-label-iki {
  padding-right: 12px;
  padding-left: 12px;
  font-weight: bold;
}

.btn-primary {
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
}

.dropdown {
  transition: width 0.3s;
  background-color: #FAEDCD;
  color: black;
  font-size: 1.3rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.dropdown.open {
  width: auto;
}

.btn.dropdown:hover,
.btn.dropdown:focus,
.btn.dropdown:active {
  background-color: #FAEDCD;
  color: black;
  outline: 0;
}

.summary-button {
  font-size: 1.2rem;
}

.submit-button {
  width: 14vw;
  font-size: 1.5rem;
}

label {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  .submit-button {
    width: 21vw;
  }

  .kid-5 {
    left: 11% !important;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 6rem;
  }

  .submit-button {
    width: 26vw;
  }

  .kid-5 {
    width: 200px !important;
    height: 200px !important;
    left: 8% !important;
  }

  .kid-5 img {
    width: 200px !important;
    height: auto !important;
  }

  .kid-6 {
    left: 70% !important;
    width: 200px !important;
    height: 200px !important;
  }

  .kid-6 img {
    width: 200px !important;
    height: auto !important;
  }

  label {
    font-size: 1.75rem !important;
  }

  .dropdown {
    font-size: 1.25rem;
  }

  .middle-div {
    width: 35vw;
  }

  .submit-button {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }

  .kid-5 {
    display: none;
  }

  .kid-6 {
    display: none;
  }

  .middle-div {
    width: 45vw;
  }

  .submit-button {
    width: 35vw;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 4rem;
  }

  label {
    font-size: 1.25rem;
  }

  .dropdown {
    font-size: 1.25rem;
  }

  .submit-button {
    font-size: 1.25rem;
    width: 50vw;
    padding: 0.35rem 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .summary-button {
    font-size: 1rem;
    padding: 0.35rem 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .middle-div {
    width: 80vw;
  }
}