.cat-bed-1-1 {
    width: calc(var(--unit-size) * 10);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/cat-bed-1-1.png');
    background-repeat: no-repeat;   /* prevents infinite tiling */
    background-position: center center;  /* centers the image */
    background-size: cover;         /* scales image to cover */
    z-index: 14;
}

.flooring-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/flooring-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.wallpaper-lilac {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 13);
    background-image: url('images/pet-game/wallpaper-lilac.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.wallpaper-beige {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 13);
    background-image: url('images/pet-game/wallpaper-beige.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.baseboard-1-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/baseboard-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.shelf-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/shelf-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.small-plant-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/small-plant-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.cat-food-bowl-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/cat_food_bowl_1_empty.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.cat-food-bowl-1.full {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/cat_food_bowl_1_full.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.cat-water-bowl-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/cat_water_bowl_1_empty.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.cat-water-bowl-1.full {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/cat_water_bowl_1_full.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.table-1-m {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 9);
    background-image: url('images/pet-game/table-1-m.png');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.window-1-m-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/window-1-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-1-s-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 8);
    background-image: url('images/pet-game/window-1-s-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-1-xs-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/window-1-xs-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-1-l-1 {
    width: calc(var(--unit-size) * 12);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/window-1-l-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.window-sill-m-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/window-sill-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.window-sill-l-1 {
    width: calc(var(--unit-size) * 12);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/window-sill-l-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-s-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/drapes-1-s-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-xs-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/drapes-1-xs-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-m-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 8);
    background-image: url('images/pet-game/drapes-1-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-l-s-1 {
    width: calc(var(--unit-size) * 12);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/drapes-1-l-s-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-l-m-1 {
    width: calc(var(--unit-size) * 12);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/drapes-1-l-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.drapes-1-l-l-1 {
    width: calc(var(--unit-size) * 12);
    height: calc(var(--unit-size) * 8);
    background-image: url('images/pet-game/drapes-1-l-l-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 4;
}

.fridge-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/fridge-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.carpet-1-m-h-1 {
    width: calc(var(--unit-size) * 12);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/carpet-1-m-h-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.carpet-1-m-v-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 12);
    background-image: url('images/pet-game/carpet-1-m-v-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.carpet-1-s-h-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/carpet-1-s-h-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.carpet-1-s-v-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/carpet-1-s-v-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.carpet-1-l-h-1 {
    width: calc(var(--unit-size) * 24);
    height: calc(var(--unit-size) * 12);
    background-image: url('images/pet-game/carpet-1-l-h-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.carpet-1-l-v-1 {
    width: calc(var(--unit-size) * 12);
    height: calc(var(--unit-size) * 16);
    background-image: url('images/pet-game/carpet-1-l-v-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.boombox-1-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/boombox-1-1.png');
    background-repeat: no-repeat;
    background-size: calc(var(--unit-size) * 5 * 2) calc(var(--unit-size) * 4 * 2); /* sprite sheet total size */
    animation: musicPlayerOff 1s steps(1) infinite;
    z-index: 14;
}

.boombox-1-1.item-preview {
    background-image: url('images/pet-game/boombox-1-1.png');
    background-size: 200% 200%; /* 2 frames wide 2 frames tall */
    background-repeat: no-repeat;
    background-position: 0 0;
}

@keyframes musicPlayerOff {
    0% { background-position: 0 0; } /* 0 first column number 0 row number*/
}

@keyframes musicPlayerOn {
    0%, 50% { background-position: 0 calc(var(--unit-size) * 4 * -1); } /* Bottom-left frame */
    50.01%, 100% { background-position: calc(var(--unit-size) * 5 * -1) calc(var(--unit-size) * 4 * -1); } /* Bottom-right frame */
}

.bath-1-1 {
    width: calc(var(--unit-size) * 10);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/bath-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 10 * 7) calc(var(--unit-size) * 2 * 10);
    background-position: 0 0;
    animation: none;
    z-index: 14;
}

.bath-1-1.filled {
    width: calc(var(--unit-size) * 10);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/bath-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 10 * 7) calc(var(--unit-size) * 2 * 10);
    animation: bath-1-full 2s steps(7) infinite;
    z-index: 14;
}

.bath-1-1::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--overlay, none);
  background-repeat: no-repeat;
  background-size: calc(var(--unit-size) * 10 * 7)
                   calc(var(--unit-size) * 2 * 10);
  background-position: 0 calc(-1 * var(--unit-size) * 2 * 10);
  animation: bath-1-full 1s steps(7) infinite;
  pointer-events: none;
  z-index: 1;
}


@keyframes bath-1-full {
    from {
        background-position: 0 calc(-1 * var(--unit-size) * 10);
    }
    to {
        background-position: calc(7 * -10 * var(--unit-size)) calc(-1 * var(--unit-size) * 10);
    }
}

.bath-1-1.item-preview {
    background-image: url(images/pet-game/bath-1-1.png);
    background-size: 600% 200%;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 15%;
    margin-bottom: 25%;
}

.cat-food-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/cat-food-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.food-salmon {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/food-salmon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cat-treat-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/cat-treat-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.christmas-tree-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 13);
    background-image: url('images/pet-game/christmas-tree-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.christmas-lights-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 2);
    background-image: url('images/pet-game/christmas-lights-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 8 * 2) calc(var(--unit-size) * 2);
    animation: christmas-lights-1-blinking 3s steps(2) infinite;
    z-index: 5;
}

@keyframes christmas-lights-1-blinking {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(2* -8 * var(--unit-size)) 0;
    }
}

.christmas-lights-1.item-preview {
    background-image: url('images/pet-game/christmas-lights-1.png');
    background-size: 200% 100%; /* 5 frames wide 2 frames tall */
    background-repeat: no-repeat;
    background-position: 0 0;
}

.small-plant-2 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/small-plant-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.small-plant-3 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/small-plant-3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.small-plant-4 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/small-plant-4.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.kitchen-base-cabinet-1-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/kitchen-base-cabinet-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

@keyframes bath-1-full {
    from {
        background-position: 0 calc(-1 * var(--unit-size) * 10);
    }
    to {
        background-position: calc(7 * -10 * var(--unit-size)) calc(-1 * var(--unit-size) * 10);
    }
}

.fireplace-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 7);
    background-image: url('images/pet-game/fireplace-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 8 * 5) calc(var(--unit-size) * 2 * 7);
    background-position: 0 0;
    animation: none;
}

.fireplace-1.fire {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 7);
    background-image: url('images/pet-game/fireplace-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 8 * 5) calc(var(--unit-size) * 2 * 7);
    animation: fireplace-1-fire 0.85s steps(5) infinite;
}

.fireplace-1.item-preview{
    background-image: url('images/pet-game/fireplace-1.png');
    background-size: 500% 200%; /* 5 frames wide 2 frames tall */
    background-repeat: no-repeat;
    background-position: 0 0;
}

@keyframes fireplace-1-fire {
    from {
        background-position: 0 calc(-1 * var(--unit-size) * 7);
    }
    to {
        background-position: calc(5 * -8 * var(--unit-size)) calc(-1 * var(--unit-size) * 7);
    }
}

.hanging-plant-1-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/hanging-plant-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.hanging-plant-1-2 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/hanging-plant-1-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.kitchen-base-cabinet-2-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/kitchen-base-cabinet-2-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.kitchen-base-cabinet-3-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 8);
    background-image: url('images/pet-game/kitchen-base-cabinet-3-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.kitchen-wall-cabinet-1-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/kitchen-wall-cabinet-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.kitchen-wall-cabinet-2-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/kitchen-wall-cabinet-2-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.fridge-2-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/fridge-2-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sink-1-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/sink-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 5 * 4) calc(var(--unit-size) * 4 * 2);
    background-position: 0 0;
    animation: none;
    z-index: 14;
}

.sink-1-1.tap-running {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/sink-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 5 * 4) calc(var(--unit-size) * 4 * 2);
    animation: sink-1-tap-running 0.4s steps(4) infinite;
    z-index: 14;
}

.sink-1-1.item-preview {
    background-image: url('images/pet-game/sink-1-1.png');
    background-size: 400% 200%; /* 4 frames wide 2 frames tall */
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sink-1-2 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/sink-1-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 5 * 4) calc(var(--unit-size) * 4 * 2);
    background-position: 0 0;
    animation: none;
    z-index: 14;
}

.sink-1-2.tap-running {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/sink-1-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 5 * 4) calc(var(--unit-size) * 4 * 2);
    animation: sink-1-tap-running 0.4s steps(4) infinite;
    z-index: 14;
}

.sink-1-2.item-preview {
    background-image: url('images/pet-game/sink-1-2.png');
    background-size: 400% 200%; /* 4 frames wide 2 frames tall */
    background-repeat: no-repeat;
    background-position: 0 0;
}

@keyframes sink-1-tap-running {
    from {
        background-position: 0 calc(-4 * var(--unit-size));
    }
    to {
        background-position: calc(4 * -5 * var(--unit-size)) calc(-4 * var(--unit-size));
    }
}

.oven-1-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/oven-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
    background-size: calc(var(--unit-size) * 7 * 6) calc(var(--unit-size) * 6 * 2);
    background-position: 0 0;
    animation: none;
}

.oven-1-1.on {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/oven-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
    background-size: calc(var(--unit-size) * 7 * 6) calc(var(--unit-size) * 6 * 2);
    animation: oven-1-on 2s steps(6) infinite;
}

.oven-1-1.item-preview {
    background-image: url('images/pet-game/oven-1-1.png');
    background-size: 600% 200%; /* 5 frames wide 2 frames tall */
    background-repeat: no-repeat;
    background-position: 0 0;
}

@keyframes oven-1-on {
    from {
        background-position: 0 calc(-6 * var(--unit-size));
    }
    to {
        background-position: calc(6 * -7 * var(--unit-size)) calc(-6 * var(--unit-size));
    }
}

.bathroom-base-cabinet-1-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/bathroom-base-cabinet-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.bathroom-base-cabinet-2-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 8);
    background-image: url('images/pet-game/bathroom-base-cabinet-2-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.bathroom-wall-cabinet-1-1 {
    width: calc(var(--unit-size) * 7);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/bathroom-wall-cabinet-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 3;
}

.toilet-1-1 {
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 7);
    background-image: url('images/pet-game/toilet-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.washing-machine-1-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 7);
    background-image: url('images/pet-game/washing-machine-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 5 * 5) calc(var(--unit-size) * 7 * 2);
    animation: none;
    background-position: 0 0;
    z-index: 14;
}

.washing-machine-1-1.on {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 7);
    background-image: url('images/pet-game/washing-machine-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: calc(var(--unit-size) * 5 * 5) calc(var(--unit-size) * 7 * 2);
    background-position: 0 0;
    animation: washing-machine-1-on 1s steps(5) infinite;
    z-index: 14;
}

.washing-machine-1-1.item-preview {
    background-image: url(images/pet-game/washing-machine-1-1.png);
    background-size: 500% 200%; /* 5 frames wide 2 frames tall */
    background-repeat: no-repeat;
    background-position: 0 0;
}

@keyframes washing-machine-1-on {
    from {
        background-position: 0 calc(-7 * var(--unit-size));
    }
    to {
        background-position: calc(5 * -5 * var(--unit-size)) calc(-7 * var(--unit-size));
    }
}

.chair-1-1-down {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/chair-1-1-down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.chair-1-1-up {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/chair-1-1-up.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.chair-1-1-right {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/chair-1-1-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.chair-1-1-left {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/chair-1-1-left.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.chair-2-1-down {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/chair-2-1-down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.chair-2-1-up {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 4);
    background-image: url('images/pet-game/chair-2-1-up.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.chair-2-1-right {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/chair-2-1-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.chair-2-1-left {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/chair-2-1-left.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-1-1-down {
    width: calc(var(--unit-size) * 10);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/sofa-1-1-down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-1-1-up {
    width: calc(var(--unit-size) * 10);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/sofa-1-1-up.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-1-1-right {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 9);
    background-image: url('images/pet-game/sofa-1-1-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-1-1-left {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 9);
    background-image: url('images/pet-game/sofa-1-1-left.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-2-1-down {
    width: calc(var(--unit-size) * 10);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/sofa-2-1-down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-2-1-up {
    width: calc(var(--unit-size) * 10);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/sofa-2-1-up.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-2-1-right {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 9);
    background-image: url('images/pet-game/sofa-2-1-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.sofa-2-1-left {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 9);
    background-image: url('images/pet-game/sofa-2-1-left.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-1-1-down {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/armchair-1-1-down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-1-1-up {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/armchair-1-1-up.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-1-1-right {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/armchair-1-1-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-1-1-left {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/armchair-1-1-left.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-2-1-down {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/armchair-2-1-down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-2-1-up {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 5);
    background-image: url('images/pet-game/armchair-2-1-up.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-2-1-right {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/armchair-2-1-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.armchair-2-1-left {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/armchair-2-1-left.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.coffee-table-1-m-1 {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 3);
    background-image: url('images/pet-game/coffee-table-1-m-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.coffee-table-1-s-1 {
    width: calc(var(--unit-size) * 3);
    height: calc(var(--unit-size) * 2.5);
    background-image: url('images/pet-game/coffee-table-1-s-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.bed-1-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/bed-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.doorstep-1-v-1 {
    width: calc(var(--unit-size) * 1);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/doorstep-1-v-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.flooring-2-1 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 10);
    background-image: url('images/pet-game/flooring-2-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 14;
}

.baseboard-1-2 {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 1);
    background-image: url('images/pet-game/baseboard-1-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.wallpaper-ashyGray {
    width: calc(var(--unit-size) * 8);
    height: calc(var(--unit-size) * 13);
    background-image: url('images/pet-game/wallpaper-ashyGray.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.ghost-1-1 {
    width: calc(var(--unit-size) * 6);
    height: calc(var(--unit-size) * 6);
    background-image: url('images/pet-game/ghost-1-1.png');
    background-repeat: no-repeat;
    background-size: calc(var(--unit-size) * 6 * 24) calc(var(--unit-size) * 6 * 10);
    background-position: 0 0;
    animation: ghost-1-stands-idle 1.5s steps(12) infinite;
    z-index: 14;
    opacity: 0.8;
    pointer-events: none;
}

.ghost-1-1.room-object-edit {
    /* 👇 This makes it clickable while editing */
    pointer-events: auto;
    cursor: pointer;
}

.ghost-1-1.item-preview {
    background-image: url('images/pet-game/ghost-1-1.png');
    background-size: 2400% 1000%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

@keyframes ghost-1-invisible {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes ghost-1-appears {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 1);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 4) calc(-6 * var(--unit-size) * 1);
    }
}

@keyframes ghost-1-disappears {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 2);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 4) calc(-6 * var(--unit-size) * 2);
    }
}

@keyframes ghost-1-stands-idle {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 5);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 12) calc(-6 * var(--unit-size) * 5);
    }
}

@keyframes ghost-1-walks-downwards {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 3);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 12) calc(-6 * var(--unit-size) * 3);
    }
}

@keyframes ghost-1-walks-upwards {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 4);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 12) calc(-6 * var(--unit-size) * 4);
    }
}

@keyframes ghost-1-walks-sideways {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 5);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 12) calc(-6 * var(--unit-size) * 5);
    }
}

@keyframes ghost-1-scares {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 6);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 24) calc(-6 * var(--unit-size) * 6);
    }
}

@keyframes ghost-1-chats {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 7);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 12) calc(-6 * var(--unit-size) * 7);
    }
}

@keyframes ghost-1-surprised {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 8);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 12) calc(-6 * var(--unit-size) * 8);
    }
}

@keyframes ghost-1-haunting {
    from {
        background-position: 0 calc(-6 * var(--unit-size) * 9);
    }
    to {
        background-position: calc(-6 * var(--unit-size) * 24) calc(-6 * var(--unit-size) * 9);
    }
}