html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #FFC074;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Andika', sans-serif;
}

.container {
  height: 100%;
}

.upper-line {
  height: 96px;
  width: 54vw;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.previous-equation {
  margin-bottom: 0px;
  font-size: 4rem;
}

.middle-line {
  width: 60vw;
  background-color: #FAF1E6;
  padding-top: 45px;
  padding-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.equation {
  font-size: 5rem;
  padding-bottom: 6px;
}

.answer-field-div {
  padding-left: 2vw;
}

.answer-input {
  height: 6rem;
  font-size: 5rem;
  padding-top: 0px !important;
}

#answer-field {
  width: 16vw;
}

#answer {
  background-color: #FAEDCD;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#answer:focus,
#answer:active {
  outline: 3px solid #B6C867;
}

#fireworks-div {
  position: fixed;
  top: 18%;
  left: 34%;
}

.question-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 11.5vw;
  margin: 10px 0 10px 0;
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.question-submit-button:focus,
.question-submit-button:active,
.question-submit-button:hover {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
}

.summary-button {
  font-size: 1.2rem;
  width: auto;
  margin: 10px 0 10px 0;
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.summary-button:focus,
.summary-button:active,
.summary-button:hover {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
}

.restart-div {
  padding-left: 2vw;
}

.restart-button {
  font-size: 1.2rem;
  width: auto;
  margin: 10px 0 10px 0;
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.restart-button:focus,
.restart-button:active,
.restart-button:hover {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
}

.stop-reset-button-div {
  padding-top: 10px;
}

.reset-button-div {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.stop-button-div {
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

.reset-button {
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
  background-color: #B6C867;
  border-color: #B6C867;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.stop-button {
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
  background-color: #B6C867;
  border-color: #B6C867;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
  font-size: 3.5rem;
  color: black;
}

.reset-button:hover,
.reset-button:active,
.reset-button:focus {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
}

.stop-button:hover,
.stop-button:active,
.stop-button:focus {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
}

@media (max-width: 1400px) {
  .middle-line {
    width: 72vw;
  }

  .upper-line {
    width: 64.8vw;
  }

  #answer-field {
    width: 18vw;
  }

  .question-submit-button {
    width: 18vw;
  }
}

@media (max-width: 1200px) {
	.upper-line {
		width: 70.8vw;
	}

  .middle-line {
		width: 85vw;
	}

  #answer-field {
    width: 22vw;
  }

  .question-submit-button {
    width: 20vw;
  }
}

@media (max-width: 1000px) {
  .upper-line {
    height: 72px;
    width: 72vw;
  }
  
	.previous-equation {
		font-size: 2rem;
	}

  .middle-line {
    width: 75vw;
  }

  .equation {
		font-size: 3rem;
	}

  .answer-input {
		height: 3.5rem;
		font-size: 3rem;
	}

  #answer-field {
    width: 18vw;
  }

  .question-submit-button {
    width: 18vw;
  }
}

@media (max-width: 767px) {  
  .upper-line {
    width: 60vw;
  }

  .middle-line {
    width: 96vw;
  }

  #answer-field {
    width: 24vw;
  }

  .question-submit-button {
    width: 24vw;
  }

  #fireworks-div {
    position: fixed;
    top: 18%;
    left: 14%;
  }
}

@media (max-width: 575px) {

  #fireworks-div {
    overflow: hidden;
    width: 86vw;
  }

  .equation {
    font-size: 2rem;
  }

  .answer-input {
    height: 2.5rem;
    font-size: 2rem;
  }

  .previous-equation {
    font-size: 1.5rem;
  }

  .reset-button-div {
    display: flex;
    justify-content: flex-end;
  }

  .stop-button-div {
    display: flex;
    justify-content: flex-start;
  }

  .middle-line {
    width: 95vw;
  }

  .upper-line {
    width: 85.5vw;
  }

  #answer-field {
    width: 27vw;
  }

  .question-submit-button {
    width: 28vw;
    font-size: 1rem;
  }

  .reset-button {
    height: 4.5rem;
    width: 4.5rem;
  }

  .stop-button {
    height: 4.5rem;
    width: 4.5rem;
  }

  .material-symbols-rounded {
    font-size: 3rem;
  }

  .answer-field-div {
    padding-left: 5vw;
  }
}

@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  .answer-input {
    height: auto;
  }

  body {
    height: 80%;
    align-items: flex-center;
  }
}