#stulpeliu-div-outer {
  display: flex;
  justify-content: center;
}

#stulpeliu-div-inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.previous-equation {
  margin-bottom: 0px;
  font-size: 4rem;
  overflow: hidden;
  white-space: nowrap;
}

#invisibleRow {
  display: block !important;
}

#content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation,
.equation_2 {
  font-size: 5rem;
}

#content-container {
  padding: 0 5px;
}

.equation_2 {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.equation {
  padding-left: 3.5vw;
}

#answer-field-outer {
  padding-left: 3.5vw;
}

.answer-field-div {
  display: flex;
  padding-right: 0;
}

.answer-input {
  height: 6rem;
  font-size: 5rem;
  padding-top: 0px !important;
}

textarea {
  width: 3.5ch;
}

#remainder-field {
  display: none;
}

#fireworks-div {
  position: absolute;
  top: -65%;
  right: 0;
  width: 250px;
}

.stop-reset-button-div {
  padding-top: 10px;
}

.reset-button-div {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.stop-button-div {
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
}

@media (max-width: 767px) {
  .equation,
  .equation_2 {
    font-size: 4rem;
  }

  .answer-input {
    height: 4.5rem;
    font-size: 4rem;
  }

  .previous-equation {
    font-size: 3rem;
  }

  .equation_2 {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }

  #fireworks-div {
    top: -45%;
    width: 200px;
  }
}

@media (max-width: 575px) {
  #fireworks-div {
    width: 200px;
    top: -65%;
  }

  .equation,
  .equation_2 {
    font-size: 3rem;
  }

  .answer-input {
    height: 3.5rem;
    font-size: 3rem;
  }

  .previous-equation {
    font-size: 2.5rem;
  }

  .equation_2 {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }

  .reset-button-div {
    display: flex;
    justify-content: flex-end;
  }

  .stop-button-div {
    display: flex;
    justify-content: flex-start;
  }
}

@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  .answer-input {
    height: auto;
  }
}