html {
  background-image: linear-gradient(to top, #ffbf9c, #ffbf92, #ffbf89, #ffbf7e, #ffc074);
  min-height: 100dvh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Andika', sans-serif;
}

.container {
  min-height: 95dvh;
}

.upper-line {
  height: 96px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.previous-equation {
  margin-bottom: 0px;
  font-size: 4rem;
  overflow: hidden;
  white-space: nowrap;
}

.middle-line {
  min-height: 32vh;
  width: 50vw;
  background-color: #FAF1E6;
  padding-top: 45px;
  padding-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn:disabled {
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  filter: grayscale(25%);
}

#task-saving-message {
  font-size: 1.35rem;
  text-align: center;
}

#invisibleRow {
  display: block !important;
}

.equation,
.equation_2 {
  font-size: 5rem;
  padding-bottom: 6px;
}

.equation_2 {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.answer-field-div {
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
}

.answer-input {
  height: 6rem;
  font-size: 5rem;
  padding-top: 0px !important;
}

#answer-field {
  width: 13vw;
}

#answer {
  background-color: #ffeccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#answer:focus,
#answer:active {
  outline: 3px solid #B6C867;
}

#remainder-field {
  display: none;
}


#fireworks-div {
  position: fixed;
  top: 18%;
  left: 34%;
}

.question-submit-button {
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 11.5vw;
  margin: 10px 0 10px 0;
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.question-submit-button:focus,
.question-submit-button:active,
.question-submit-button:hover {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) !important;
}

.summary-button {
  font-size: 1.2rem;
  width: 11.5vw;
  margin: 10px 0 10px 0;
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.summary-button:focus,
.summary-button:active,
.summary-button:hover {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) !important;
}

.restart-button {
  font-size: 1.2rem;
  width: auto;
  margin: 10px 0 10px 0;
  background-color: #B6C867;
  border-color: #B6C867;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.restart-button:focus,
.restart-button:active,
.restart-button:hover {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) !important;
}

.stop-reset-button-div {
  padding-top: 10px;
}

.reset-button-div {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.stop-button-div {
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

.reset-button {
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
  background-color: #B6C867;
  border-color: #B6C867;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.stop-button {
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
  background-color: #B6C867;
  border-color: #B6C867;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
  font-size: 3.5rem;
  color: black;
}

.reset-button:hover,
.reset-button:active,
.reset-button:focus {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) !important;
}

.stop-button:hover,
.stop-button:active,
.stop-button:focus {
  background-color: #01937C;
  border-color: #01937C;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) !important;
}

@media (max-width: 1400px) {
  .middle-line {
    width: 63vw;
  }

  .upper-line {
    width: 56.7vw;
  }

  #answer-field {
    width: 15vw;
  }

  .question-submit-button {
    width: 15vw;
  }

  .summary-button {
    width: 15vw;
  }
}

@media (max-width: 1200px) {
  #answer-field {
    width: 18vw;
  }

  .question-submit-button {
    width: 18vw;
  }

  .summary-button {
    width: 18vw;
  }
}

@media (max-width: 1000px) {
  .middle-line {
    width: 75vw;
  }

  .upper-line {
    width: 67.5vw;
  }

  #answer-field {
    width: 24vw;
  }

  .question-submit-button {
    width: 24vw;
  }

  .summary-button {
    width: 24vw;
  }
}

@media (max-width: 767px) {
  .equation,
  .equation_2 {
    font-size: 4rem;
  }

  .answer-input {
    height: 4.5rem;
    font-size: 4rem;
  }

  .previous-equation {
    font-size: 3rem;
  }

  .equation_2 {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .middle-line {
    width: 80vw;
  }

  .upper-line {
    width: 65vw;
  }

  #answer-field {
    width: 24vw;
  }

  .question-submit-button {
    width: 24vw;
    font-size: 1rem;
  }

  .summary-button {
    width: 24vw;
    font-size: 1rem;
  }

  #fireworks-div {
    position: fixed;
    top: 18%;
    left: 14%;
  }
}

@media (max-width: 575px) {

  #fireworks-div {
    overflow: hidden;
    width: 86vw;
  }

  .equation,
  .equation_2 {
    font-size: 3rem;
  }

  .answer-input {
    height: 3.5rem;
    font-size: 3rem;
  }

  .previous-equation {
    font-size: 2.5rem;
  }

  .equation_2 {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }

  .reset-button-div {
    display: flex;
    justify-content: flex-end;
  }

  .stop-button-div {
    display: flex;
    justify-content: flex-start;
  }

  .middle-line {
    width: 95vw;
  }

  .upper-line {
    width: 85.5vw;
  }

  #answer-field {
    width: 28vw;
  }

  .question-submit-button {
    width: 28vw;
  }

  .summary-button {
    width: 28vw;
  }

  .reset-button {
    height: 4.25rem;
    width: 4.25rem;
  }

  .stop-button {
    height: 4.25rem;
    width: 4.25rem;
  }

  .material-symbols-rounded {
    font-size: 3rem;
  }

  .answer-field-div {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  .answer-input {
    height: auto;
  }

  body {
    height: 80%;
    align-items: flex-center;
  }
}