z#invisibleRow {
  display: block !important;
}

.equation,
.equation_2 {
  font-size: 4rem;
}

.answer-field-div {
  display: flex;
  padding-left: 2vw;
  gap: 10px;
}

#remainder {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

textarea {
  width: 5.5ch;
  font-size: 4rem;
  height: 4.5rem;
}

/* liekana */

#remainder-field {
  display: none;
}

.remainder-input::placeholder {
  font-size: 4rem;
}

/* liekana */

#fireworks-div {
  position: absolute;
  top: -65%;
  right: 0;
  width: 250px;
}

.restart-div {
  padding-left: 2vw;
}

.reset-button-div {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.stop-button-div {
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

.previous-equation {
  font-size: 2.5rem;
}

@media (max-width: 1400px) {
  .question-submit-button {
    width: 18vw;
  }

  .summary-button {
    width: 18vw;
  }
}

@media (max-width: 1200px) {
  .question-submit-button {
    width: 20vw;
  }

  .summary-button {
    width: 20vw;
  }
}

@media (max-width: 1000px) {
	.previous-equation {
		font-size: 2rem;
	}

  .equation,
  .equation_2 {
		font-size: 3rem;
	}

  textarea {
		height: 3.5rem;
		font-size: 3rem;
	}

  .remainder-input::placeholder {
    font-size: 3rem;
  }

  .question-submit-button {
    width: 18vw;
  }

  .summary-button {
    width: 18vw;
  }
}

@media (max-width: 767px) {  
  .question-submit-button {
    width: 24vw;
    font-size: 1rem;
  }

  .previous-equation {
    font-size: 1.75rem;
  }

  .summary-button {
    width: 24vw;
    font-size: 1rem;
  }

  #fireworks-div {
    top: -45%;
    width: 200px;
  }

  .answer-field-div {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  #fireworks-div {
    width: 200px;
    top: -65%;
  }

  .equation,
  .equation_2 {
    font-size: 2rem;
  }

  textarea {
    height: 2.5rem;
    font-size: 2rem;
  }

  .answer-field-div.comp-margin {
    margin-top: 3.5rem;
  }

  .remainder-input::placeholder {
    font-size: 2rem;
  }

  .previous-equation {
    font-size: 1.25rem;
  }

  .reset-button-div {
    display: flex;
    justify-content: flex-end;
  }

  .stop-button-div {
    display: flex;
    justify-content: flex-start;
  }

  .question-submit-button {
    width: 28vw;
    font-size: 1rem;
  }

  .summary-button {
    width: 28vw;
  }

  .reset-button {
    height: 4.25rem;
    width: 4.25rem;
  }

  .stop-button {
    height: 4.25rem;
    width: 4.25rem;
  }

}

@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  textarea {
    height: auto;
  }
}